.register-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 3em;
  background-color: rgba(75, 72, 72, 0.8);
}

.pretty-form {
  background-color:rgba(255, 255, 255, 0.9);
  padding:40px;
  border-radius: 25px;
}
